
{% extends 'support/index.html' %}
{% load bootstrap4 %}

{% block main%}


<div class="row">
    <div class="col-md-9" id="main">
        <div class="row">
            <div class="col-md-5">
                <div class="well">
                    <form action="{% url 'support:create_staffprofile' %}" class="form" method="POST">
                        {% csrf_token %}
                        <fieldset>
                            <legend><i class="fa fa-user"></i>Profile</legend>
                        </fieldset>
                        {% bootstrap_form form %}
                        <button name="submit" class="btn btn-primary">
                            <i class="fa fa-pencil"></i>
                            {% if profile %}
                                Update Profile
                            {% else %}
                                Create Profile
                            {% endif %}
                        </button>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>
                </div>
            </div>
            <div class="col-md-7">

            </div>
        </div>
    </div>
    <div class="col-md-3" id="sidebar">
        <div class="section about">
            <div class="well well-lg">
                <p>Update your profile to more information about account</p>
                
            </div>
        </div>
        
        <div class="section">
                <a href="{% url 'users:password_reset' %}" class="btn btn-lg btn-block btn-primary"><i class="fa fa-tools"></i>Reset Password</a>
        </div>
    </div>
</div>

{% endblock %}

