{% extends 'support/index.html' %}
{% load bootstrap4 %}



{% block main %}
    <div class="row">
        <div class="col-md-9" id="main">
            <h1>Create Ticket</h1>
            <form action="{% url 'support:new_ticket' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button class="btn btn-primary" type="submit">Create Ticket</button>
                {% endbuttons %}
            </form>
        </div>
        <div class="col-md-3" id="sidebar">
            <div class="well well-lg">
                <p>Use the form to state the issue as clearly as possible and our team will respond with 24 hours</p>
            </div>
        </div>
    </div>
{% endblock %}



