{% extends 'support/index.html' %}
{% load bootstrap4 %}



{% block main %}
    <div class="row">
        <div class="col-md-9" id="main">
            <h1>Edit Category</h1>
            <form action="{% url 'support:edit_category' category.id %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i>Save Category</button>
                {% endbuttons %}
            </form>
        </div>
        <div class="col-md-3" id="sidebar">
            <div class="well well-lg">
                <p>Enter The Category Name And Save</p>
            </div>
            <div class="section actions">
                    <a href="{% url 'support:category' %}" class="btn btn-lg btn-block btn-success"><i class="fa fa-arrow-left"></i>Back To Categories</a>
            </div>
            <div class="section actions">
                    <a href="#" class="btn btn-lg btn-block btn-danger"><i class="fa fa-trash"></i>Delete</a>
            </div>
        </div>
    </div>
{% endblock %}



